body#one{
font-family: Arial, sans-serif;
font-style: italic;
font-weight: normal;
font-size: 25pt;
border: 20px double blue;
color: white;
background-color: black;
text-align: center;
text-indent: 12px;
}
section{
width: 500;
float: left;}
nav{
width: 200px;
float: left;
margin-top: 12px;
margin-right: 10px}

p.second{font-size: 10pt;}

p#random{font-size: 50pt;}
