body{
font-family: Arial, sans-serif;
font-style: italic;
font-weight: normal;
font-size: 25pt;
border: 20px double blue;
color: white;
background-color: black;
text-align: center;
text-indent: 12px;
}

p.second{font-size: 10pt;}
